.input-container {
    position:relative;
    margin-bottom:22px;
    min-width: 400px;

    label {
        position:absolute;
        top:0px;
        left:0px;
        font-size:14px;
        color: #737373;
        pointer-event:none;
    }

    input {
        border:0;
        border-bottom:1px solid #555;
        background:transparent;
        width: 100%;
        color:#000000;

        &:focus {
            border:none;
            outline:none;
            border-bottom:1px solid #3369F3;
        }
    }
}


.input-container-primary{

    label {
        transition: all 0.2s ease-in-out;
    }

    input {
        padding:8px 5px 5px 0;
        font-size:16px;
    }

    input:focus ~ label,
    input:valid ~ label{
        top:-12px;
        font-size:10px;

    }
}

.input-container-secondary{

    label {
        font-weight: bold;
    }

    input {
        padding:4px;
        font-size:20px;
        color:#000000;
        direction: rtl;
    }
}