.button {
    outline: none;
    font-weight: bold;
    letter-spacing: 1px;
    border: 0;
    padding:10px 20px;
    text-transform:uppercase;
    border-radius:5px;
    cursor:pointer;
    position:relative;
    min-width: 250px;
    max-width: 500px;
}

.button__contained {
    background-color: #3369F3;
    color: #fff;

    &:hover {
        box-shadow: 0 0 4px 1px #7ea3fb;
    }
}

.button__secondary {
    background-color: #fff;
    color: #3369F3;
    border: #3369F3 1px solid;

    &:hover {
        box-shadow: 0 0 4px 1px #7ea3fb;
    }
}

.button__warning {
    background-color: #ff0000;
    color: #ffffff;

    &:hover {
        box-shadow: 0 0 4px 1px #fa5757;
    }
}


