<nav class="menu">
    <ul>
        <li><a href="/">login</a></li>
        <li><a href="/register">register</a></li>
        <li><a href="/profile">profile</a></li>
        <li><a href="/change-password">change password</a></li>
        <li><a href="/change-user-info">change user info</a></li>
        <li><a href="/chat">chat</a></li>
        <li><a href="/404">404</a></li>
        <li><a href="/500">500</a></li>
    </ul>
</nav>
